# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Builds
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Pods/
macos/Pods/
android/app/build/
android/.gradle/
.android/

# IDE
.idea/
.vscode/
*.iml

# Keys & secrets (VERY IMPORTANT)
android/key.properties
android/app/*.keystore
android/app/*.jks
**/google-services.json
**/GoogleService-Info.plist
.env
*.pem
